body{
    margin: 0px;
    background-color: #36096d;
    background: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    /* text-align: center; */
    #layout-main{
        height: 100%;
    }
}
#posts-list-container{
    height: 20em;
    overflow: scroll;
    ul{
        display: flex;
            flex-direction: column;
        li{
           width: 100%;
           
        }
    }
}