body {
  margin: 0px;
  background-color: #36096d;
  background: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  /* text-align: center; */
}

body #layout-main {
  height: 100%;
}

#posts-list-container {
  height: 20em;
  overflow: scroll;
}

#posts-list-container ul {
  display: flex;
  flex-direction: column;
}

#posts-list-container ul li {
  width: 100%;
}
